/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;

    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

div {
    position: absolute;
}


#ad-container {
    width: 300px;
    height: 250px;
    background-color: #000000;
    overflow: hidden;
}

#bg {
    width: 300px;
    height: 250px;
    opacity: 0;
    background: rgba(0, 0, 0, 1);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 33%, rgba(20, 20, 20, 1) 89%, rgba(20, 20, 20, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(33%, rgba(0, 0, 0, 1)), color-stop(89%, rgba(20, 20, 20, 1)), color-stop(100%, rgba(20, 20, 20, 1)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 33%, rgba(20, 20, 20, 1) 89%, rgba(20, 20, 20, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 33%, rgba(20, 20, 20, 1) 89%, rgba(20, 20, 20, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 33%, rgba(20, 20, 20, 1) 89%, rgba(20, 20, 20, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 33%, rgba(20, 20, 20, 1) 89%, rgba(20, 20, 20, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#141414', GradientType=0);
}

#car {
    width: 256px;
    height: 66px;
    left: 23px;
    top: 35px;
    background-image: url('assets/car_300x250.png');
    background-size: 100% 3100%;
    background-repeat: no-repeat;
}

.carFrame1 {
    background-position: 0 0;
}

.carFrame2 {
    background-position: 0 -66px;
}

.carFrame3 {
    background-position: 0 -132px;
}

.carFrame4 {
    background-position: 0 -198px;
}

.carFrame5 {
    background-position: 0 -264px;
}

.carFrame6 {
    background-position: 0 -330px;
}

.carFrame7 {
    background-position: 0 -396px;
}

.carFrame8 {
    background-position: 0 -462px;
}

.carFrame9 {
    background-position: 0 -528px;
}

.carFrame10 {
    background-position: 0 -594px;
}

.carFrame11 {
    background-position: 0 -660px;
}

.carFrame12 {
    background-position: 0 -726px;
}

.carFrame13 {
    background-position: 0 -792px;
}

.carFrame14 {
    background-position: 0 -858px;
}

.carFrame15 {
    background-position: 0 -924px;
}

.carFrame16 {
    background-position: 0 -990px;
}

.carFrame17 {
    background-position: 0 -1056px;
}

.carFrame18 {
    background-position: 0 -1122px;
}

.carFrame19 {
    background-position: 0 -1188px;
}

.carFrame20 {
    background-position: 0 -1254px;
}

.carFrame21 {
    background-position: 0 -1320px;
}

.carFrame22 {
    background-position: 0 -1386px;
}

.carFrame23 {
    background-position: 0 -1452px;
}

.carFrame24 {
    background-position: 0 -1518px;
}

.carFrame25 {
    background-position: 0 -1584px;
}

.carFrame26 {
    background-position: 0 -1650px;
}

.carFrame27 {
    background-position: 0 -1716px;
}

.carFrame28 {
    background-position: 0 -1782px;
}

.carFrame29 {
    background-position: 0 -1848px;
}

.carFrame30 {
    background-position: 0 -1914px;
}

.carFrame31 {
    background-position: 0 -1980px;
}

#title {
    width: 300px;
    height: 60px;
    left: 0px;
    top: 0px;
    background-image: url('assets/title_300x250.png');
    background-size: 100% 1500%;
    background-repeat: no-repeat;
}

.titleFrame1 {
    background-position: 0 0;
}

.titleFrame2 {
    background-position: 0 -60px;
}

.titleFrame3 {
    background-position: 0 -120px;
}

.titleFrame4 {
    background-position: 0 -180px;
}

.titleFrame5 {
    background-position: 0 -240px;
}

.titleFrame6 {
    background-position: 0 -300px;
}

.titleFrame7 {
    background-position: 0 -360px;
}

.titleFrame8 {
    background-position: 0 -420px;
}

.titleFrame9 {
    background-position: 0 -480px;
}

.titleFrame10 {
    background-position: 0 -540px;
}

.titleFrame11 {
    background-position: 0 -600px;
}

.titleFrame12 {
    background-position: 0 -660px;
}

.titleFrame13 {
    background-position: 0 -720px;
}

.titleFrame14 {
    background-position: 0 -780px;
}

.titleFrame15 {
    background-position: 0 -940px;
}

#title_hiRes {
    width: 300px;
    height: 60px;
    left: 0px;
    top: 0px;
    opacity: 0;
    background-image: url('assets/title_hiRes_300x250.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#logo {
    width: 50px;
    height: 50px;
    left: 15px;
    top: 116px;
    opacity: 0;
    background-image: url('assets/logo.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#address1 {
    width: 184px;
    height: 10px;
    left: 91px;
    top: 125px;
    opacity: 0;
    position: absolute;
    background-image: url('assets/address_300x250.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#divider1 {
    width: 0px;
    height: 2px;
    left: 72px;
    top: 137px;
    background-image: url('assets/divider.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

#divider2 {
    width: 0px;
    height: 2px;
    left: 0px;
    top: 170px;
    background-image: url('assets/divider.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

#divider3 {
    width: 300px;
    height: 2px;
    left: 0px;
    top: 228px;
    opacity: 0;
    background-image: url('assets/divider.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.divider_gradient {
    width: 150px;
    height: 2px;
    right: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.11) 11%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(11%, rgba(255, 255, 255, 0.11)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.11) 11%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.11) 11%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.11) 11%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.11) 11%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
}

#cta_bg {
    width: 300px;
    height: 32px;
    left: 0px;
    top: 139px;
    opacity: 0;
    background-image: url('assets/cta_bg_300x250.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

#cta_bg_rollover {
    width: 300px;
    height: 32px;
    left: 0px;
    top: 139px;
    opacity: 0;
    background-image: url('assets/cta_bg_rollover_300x250.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

#cta_text {
    width: 192px;
    height: 49px;
    left: 87px;
    top: 134px;
    opacity: 0;
    background-image: url('assets/cta_text_300x250.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

#apr_divider {
    width: 1px;
    height: 0px;
    left: 106px;
    top: 181px;
    top: 181px;
    background-color: #ffffff;
    opacity: 0.5;
}

#apr {
    width: 76px;
    height: 34px;
    left: 15px;
    top: 186px;
    opacity: 0;
    background-image: url('assets/apr_300x250.svg');
    background-repeat: no-repeat;
    overflow: hidden;
}

#legal1 {
    width: 163px;
    height: 7px;
    left: 122px;
    top: 194px;
    opacity: 0;
    background-image: url('assets/legal_300x250.svg');
    background-repeat: no-repeat;
    overflow: hidden;
}

#legal2 {
    width: 163px;
    height: 9px;
    left: 122px;
    top: 204px;
    opacity: 0;
    background-image: url('assets/legal_300x250.svg');
    background-position: 0 -10px;
    background-repeat: no-repeat;
    overflow: hidden;
}

#legal3 {
    width: 163px;
    height: 10px;
    left: 122px;
    top: 214px;
    opacity: 0;
    background-image: url('assets/legal_300x250.svg');
    background-repeat: no-repeat;
    background-position: 0 -20px;
    overflow: hidden;
}

#bullet1 {
    width: 271px;
    height: 7px;
    left: 15px;
    top: 239px;
    opacity: 0;
    background-image: url('assets/bullets_300x250.svg');
    background-repeat: no-repeat;
    overflow: hidden;
}